// Temporary Variables
$blue: #0667BA;
$medium: 780px;
$large: 994px;

.btn {
	background-color: #ED780F;
}

.btn_tertiary {
	color: #fff;
	background-color: #0667BA;
	text-shadow: none;
}

.compare-top__outer-wrapper {
	// border: 5px solid black;
	// background: white;
}

// Temporary Mixins
@mixin respond-min($screenWidth) {
	@media (min-width:$screenWidth) {
		@content;
	}
}

.compare-top {
	@mixin hidden() {
		visibility: hidden;
	}

	.hidden {
		@include hidden();
	}

	@mixin display-none() {
		display: none;
		visibility: hidden;
	}

	@mixin visibility-hidden() {
		visibility: hidden;
	}

	$imgShowsScreenSize: 800px;
	background: white;
	border-bottom: 3px solid black;
	text-align: center;
	padding: 1em;

	&__inner-wrapper {
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		max-width: 74.375em;
	}

	&__item-wrapper {
		position: relative;
		padding-top: 3em;

		@include respond-min($medium) {
			padding-top: 0;
		}
	}

	&__item-img-wrapper {
		margin: 0.375em auto 1.5em;
		display: none;

		@media only screen and (min-height: $imgShowsScreenSize) {
			display: table;
		}
	}

	&__item-img {
		width: 75%;
		min-width: 94px;
		max-width: 210px;
		border-radius: 3px;

		@include respond-min($medium) {
			width: 90%;
		}

		@include respond-min($large) {
			width: 100%;
		}
	}

	&__item-link {
		display: block;
		text-decoration: none;
		color: $blue;
		margin-bottom: .5em;

		@include respond-min($medium) {
			font-size: 20px;
		}
	}

	&__item-title {
		@include respond-min($large) {
			font-size: 24px;
		}

		&_empty-text {
			color: #68696A;
		}
	}

	&__item-apply-button {
		padding: .8rem 1rem;
		min-width: 80px;
		font-size: 16px;
		color: #fff;
		text-align: center;
		line-height: 1.2;
		border-radius: 6px;
		font-weight: 600;
		cursor: pointer;
		text-shadow: 0 0 2px rgba(54, 28, 4, 0.95);
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
		display: table;
		margin: 0 auto .5em auto;

		@include respond-min($medium) {
			padding: 1rem 2.4rem;
			width: auto;
		}

		@include respond-min($large) {
			font-size: 20px;
		}
	}

	&__item-details-link {
		font-size: 16px;
	}

	&__item-close-button {
		position: absolute;
		top: 12px;
		right: 8px;
		background: none;
		border: none;
		-webkit-appearance: button;
		cursor: pointer;
		font-size: 24px;
		color: $blue;
		transition: .5s;
		display: none;

		@include respond-min($medium) {
			right: -32px;
			top: -5px;
			font-size: 30px;
		}

		@include respond-min($large) {
			right: -45px;
		}

		@media only screen and (min-height: $imgShowsScreenSize) {
			display: block;
		}

		&_display_none {
			@include display-none();
		}
	}

	// Styling for when the images are hidden.
	&_no-imgs {

		.compare-top__item-img-wrapper,
		.compare-top__item-close-button {
			display: none;

		}
	}

	&_position_fixed {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		margin: 0 auto;
		z-index: 3;
		width: 100%;
		-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
	}

}

// Temporary Testing Code

.test:nth-child(even) {
	background: #eee;
}

.test:nth-child(odd) {
	background: #ddd;
}