// Temporary Variables
$blue: #0667BA;
$medium: 780px;
$large: 994px;

// Temporary Mixins
@mixin respond-min($screenWidth) {
	@media (min-width:$screenWidth) {
		@content;
	}
}

@mixin content-children() {
	&> :first-child {
		margin-top: 0;
	}

	&> :last-child {
		margin-bottom: 0;
	}
}

.compare-modal {
	overflow: scroll;
	line-height: 1.5em;

	// Styles below come from .content-modal
	animation: overlayIn 400ms ease-in-out forwards;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 600;

	&__wrapper {
		position: static;
		width: 90%;
		margin: 5vh auto;
		max-width: 900px;
		max-height: none;
		border-radius: 3px;
		background: #fff;
		box-shadow: rgba(0, 0, 0, 0.5) 0px 32px 15px -22px;
		z-index: 11000;
		top: 15vh;
		transform-origin: center left;

		@include respond-min($medium) {
			margin: 15vh auto 5vh auto;
		}
	}

	&__header {
		position: relative;
		padding: 1em 1.5em;
		background-color: $blue;
	}

	&__title {
		font-weight: bold;
		text-transform: uppercase;
		color: white;
	}

	&__form-header {
		margin: 1em 0 1em 1.5em;
	}

	&__form-body {
		// Was the compare-form__row
		padding: 0 1.5em;
	}

	&__form-body {}

	&__form-item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-top: 4px solid #008000;
		min-height: 220px;
		padding: 1em;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		border-radius: 0 0 5px 5px;
		margin-bottom: 1em;
	}

	&__form-title {}

	&__form-info {
		display: flex;
		flex-direction: row;
		margin-bottom: 1em;
	}

	&__figure {
		max-width: 30%;
		margin: 0 1em 2em 0;
	}

	&__img {
		width: 100%;
		border-radius: 3%/5%; // Replace with @mixin.
	}

	&__text-container {
		@include content-children();
	}

	&__text-subheading {
		margin-bottom: 1em;
	}

	&__text-description {}

	&__input-wrapper {}

	&__close-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		padding: 0.5em;
		background: none;
		border: none;
		-webkit-appearance: button;
		cursor: pointer;
		font-size: 28px;
		color: white;
	}
}