// Temporary Variables
$blue: #0667BA;
$medium: 780px;

// Temporary Mixins
@mixin respond-min($screenWidth) {
	@media (min-width:$screenWidth) {
		@content;
	}
}

.compare-top {
	// background: pink;
	border: 3px solid black;
	text-align: center;
	padding: 1em;

	&__inner-wrapper {
		display: flex;
		justify-content: space-evenly;
	}

	&__item-wrapper {
		position: relative;
		padding-top: 3em;

		@include respond-min($medium) {
			padding-top: 0;
		}
	}

	&__item-img-wrapper {
		margin: 0.375em auto 1.5em;
		display: table;
	}

	&__item-image {
		width: 75%;
		min-width: 94px;
		max-width: 210px;
		border-radius: 3px;
	}

	&__item-link {
		display: block;
		text-decoration: none;
		color: $blue;
		margin-bottom: .5em;

		@include respond-min($medium) {
			font-size: 20px;
		}
	}

	&__item-title {
		// margin-bottom: 1em;
	}

	&__item-apply-button {
		padding: .8rem 1rem;
		min-width: 80px;
		font-size: 16px;

		@include respond-min($medium) {
			padding: 1rem 2.4rem;
			width: auto;
		}

		margin-bottom: 0.5em;
		color: #fff;
		background-color: #ED780F;
		text-align: center;
		line-height: 1.2;
		border-radius: 6px;
		font-weight: 600;
		cursor: pointer;
		text-shadow: 0 0 2px rgba(54, 28, 4, 0.95);
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
		display: table;
		margin-left: auto;
		margin-right: auto;
	}

	&__item-details-link {
		font-size: 16px;
	}

	&__item-close-button {
		position: absolute;
		top: 12px;
		right: 8px;
		background: none;
		border: none;
		-webkit-appearance: button;
		cursor: pointer;
		font-size: 24px;
		color: $blue;
		transition: .5s;

		@include respond-min($medium) {
			right: -20px;
			top: -5px;
			font-size: 30px;
		}
	}

}